<section class="experience">
    <div class="wrapper">
        <h2>Experience</h2>
        <div class="positions">
            {%- for position in site.positions -%}
            <article>
                <a href="{{ position.url | relative_url }}">
                    <div class="top" style="background-image: url('{{ position.company_hero_alt | prepend: site.cdn_url }}')"></div>
                </a>
                <div class="bottom">
                    <h3><a href="{{ position.url | relative_url }}">{{ position.title | escape }}</a></h3>
                    <div class="company">
                        <h4>
                            {%- if position.company_logo -%}
                            <img src="{{ position.company_logo | prepend: site.cdn_url }}" alt="" title="" />
                            {%- endif -%}
                            <a class="company-url" href="{{ position.company_url }}" target="_blank">{{ position.company }}</a>
                        </h4>
                        <small>
                            {{ position.start | date: "%b %Y" }} -&nbsp;
                            {%- if position.end -%}
                                {{ position.end | date: "%b %Y" }}
                            {%- else -%}
                                Present
                            {%- endif -%}
                        </small>
                    </div>
                    {% assign tech = position.tech | split: ", " %}
                    <ul class="tech">
                        {%- for t in tech -%}
                        <li>{{ t }}</li>
                        {%- endfor -%}
                    </ul>
                    <p>{{ position.description }}</p>
                </div>
            </article>
            {%- endfor -%}
        </div>
    </div>
</section>