<div class="posts">
    {%- if include.show_max -%}
      {%- assign loop = include.show_max -%}
    {%- else -%}
      {%- assign loop = include.posts.size -%}
    {%- endif -%}
    {%- for post in include.posts limit:loop -%}
        <article>
            <a href="{{ post.url | relative_url }}">
                <div class="top" style="background-image: url('{{ post.image_url }}')"></div>
            </a>
            <div class="bottom">
                <h3>
                    <a href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                <div class="post-meta">
                    {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <small>{{ post.date | date: date_format }}</small>
                </div>
                <ul class="post-categories">
                    {%- for t in post.tags -%}
                    <li>{{ t }}</li>
                    {%- endfor -%}
                </ul>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </div>
        </article>
    {%- endfor -%}
</div>
<p class="rss-subscribe">Subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>