---
layout: default
---

<article class="post">
    <div class="wrapper">
        <h1>Tag: {{ page.tag }}</h1>
        <span>
            <a class="tag" href="{{ "/blog" | relative_url }}">Blog</a> >
            <span class="tag">{{ page.tag }}</span>
        </span>
        <div>
            {%- for tag in site.tags -%}
                {%- if tag[0] == page.tag -%}
                    {%- assign tag_posts = tag[1] -%}
                    {%- include posts_grid.html posts=tag_posts -%}
                {%- endif -%}
            {%- endfor -%}
        </div>
    </div>
</article>